h1{ color: red;}
.p1{ color: purple;}
.p2{ background-color: black; color: azure;}
li{ background-color: yellow;}
a{ background-color: rgb(25, 231, 25); color: azure;}
.a1{ background-color: blue;}
.a2{ background-color: blueviolet;}
.a3{ background-color: blue;}
.a4{background-color: blueviolet}
.a5{ background-color: blue;}